body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
    background-color: rgb(72, 235, 180);
}

#container {
    height: 500px;
    width: 500px;
    border-width: 5px;
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.grid {

}

button {
    width: 100px;
    height: 50px;
}